<%- include('head') -%>
<%- include('header') -%>
<section class="createTheme">
    <h2><%= title %></h2>
    <form action='<%= action %>' method="post">
        <p>
            <label for="nameTheme">Nom du thème</label>
            <input type="text" name="nameTheme" id="nameTheme" value="<%= locals.theme ? theme.nameTheme : '' %>">     
        </p>
        <p>
            <label for="rankingTheme">Numéro d'ordre d'apparition</label>
            <input type="text" name="rankingTheme" id="rankingTheme" value="<%= locals.theme ? theme.rankingTheme : '' %>">   
        </p>
        <p>
            <button type="submit">Enregistrer</button>
            <button type="reset">Annuler</button>
        </p>
    </form>
</section>
    <%- include('footerAdminWithMargin') -%>

