<%- include('head') -%>
<%- include('header') -%>
<section class="listeVisuels">
    <h1>Les Visuels</h1>
    <h2> La liste des visuels existants :</h2>
    <p>Sélectionnez à gauche pour supprimer, ou selectionnez à droite pour modifier</p>
    <form action="/Visuels/delete" method="post">
        <ul>
            <% for(let i = 0; i<visuels.length; i++) { %>
                <li>
                    <input type="radio" name="visuelToDelete" value="<%= visuels[i].id %>">
                    <h3>Réalisation : <%= visuels[i].nomRealisation %></h3>
                    <img src="/img/<%= visuels[i].visuelWidth575 %>" alt="Visuel">
                    <p class="rankingVisuel"><%= visuels[i].rankingVisuel %></p>
                    <p class="nameVisuel"><%= visuels[i].nameVisuel %> </p>
                    <a href="/visuels/<%= visuels[i].id %>/update">
                        <i class="fa fa-pencil-square"></i>
                    </a>
                </li>
            <% } %>
        </ul>
        <button>Supprimer</button>
        </form>
        <h2> Pour ajouter un nouveau visuel :</h2>
        <a class="newVisuel" href="/visuels/add">Formulaire d'ajout</a>
<%- include('footer') -%>