<%- include('head') -%>
<%- include('header') -%>

<section class="realisationForm">
    <h2>Modifier <%= visuel.nameVisuel %></h2>
    
    <form action="<%= actionUpdateVisuel %>" method="post" enctype="multipart/form-data">

        <p>
            <label for="nameVisuel">Nom du visuel</label>
            <input type="text" name="nameVisuel" id="nameVisuel" value="<%= visuel ? visuel.nameVisuel : '' %>">     
        </p>
        <p>
            <label for="typeVisuel">Type de visuel</label>
            <input type="text" name="typeVisuel" id="typeVisuel" value="<%= visuel ? visuel.typeVisuel : '' %>">   
        </p>
        <p>
            <label for="rankingVisuel">Ordre d'apparition du visuel</label>
            <input type="text" name="rankingVisuel" id="rankingVisuel" value="<%= visuel ? visuel.rankingVisuel : '' %>">   
        </p>
        <p>
            <label for="commentaireVisuel">Commentaire de la réalisation</label>
            <textarea name="commentaireVisuel" id="commentaireVisuel"><%= visuel ? visuel.commentaireVisuel : '' %></textarea>
        </p>
        <p>
            <label for="idRealisation">idRealisation</label>
            <input type="text" name="idRealisation" id="idRealisation" value="<%= visuel ? visuel.idRealisation : '' %>">   
        </p>
        <% if (visuel.visuelWidth767) { %>
            <img src="/img/<%= visuel.visuelWidth767 %>" alt="Visuel en 767px de large" style="width:767px;">
        <% } %>
        
        <p>
            <label for="visuelWidth767">Visuel en 767px de large</label>
            <input type="file" name="newVisuelWidth767" id="visuelWidth767">
        </p>
        <% if (visuel.visuelWidth1920) { %>
            <img src="/img/<%= visuel.visuelWidth1920 %>" alt="Visuel en 1920px de large" style="width:1920px;">
        <% } %>
        <p>
            <label for="visuelWidth1920">Visuel en 1920px de large</label>
            <input type="file" name="newVisuelWidth1920" id="visuelWidth1920">

        </p>        
        <p>
            <button type="submit">Enregistrer</button>
            <button type="reset">Annuler</button>
        </p>
    </form>
    

    <a class="versVisuelsRealisation" href="/realisations/<%= visuel.idRealisation %>/visuels">Les visuels de la réalisation</a>


</section>

<%- include('footer') -%>