<%- include('head') -%>
<%- include('header') -%>

<section class="visuelsOfRealisation">
    <h1 class="visuelsOfRealisation__title"><%= nomRealisation %></h1>
    <h2 class="visuelsOfRealisation__subTitle"><%= descriptionRealisation%></h2>
    <p class="visuelsOfRealisation__text"><%= commentaireRealisation%></p>
            <ul class="visuelsList">
                <% for(let i=0; i<visuels.length; i++) { %>
                <li>
                
                <% if (visuels[i].typeVisuel === "video") { %>

                    <video id="video" controls loop autoplay muted playsinline></video>
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            var video = document.getElementById('video');
                            var source = document.createElement('source');
                        
                            if (window.innerWidth <= 767) {
                                source.setAttribute('src', '/img/' + '<%= visuels[i].visuelWidth767 %>');
                            } else {
                                source.setAttribute('src', '/img/' + '<%= visuels[i].visuelWidth1920 %>');
                            }
                        
                            source.setAttribute('type', 'video/mp4');
                            video.appendChild(source);
                            video.load();
                        });
                        </script>




                <% } else { %>
                    <picture>
                        <source media="(max-width: 767px)" srcset="/img/<%= visuels[i].visuelWidth767 %>">
                        <source media="(min-width: 768px)" srcset="/img/<%= visuels[i].visuelWidth1920 %>">
                        <img src="/img/<%= visuels[i].visuelWidth767 %>" alt="image nommée <%= visuels[i].nameVisuel %> , illustration du projet <%= visuels[i].nomRealisation %>. description : <%= visuels[i].commentaireVisuel %>">
                    </picture>
                <% } %>


                </li>
                <li class="visuelsList__text"><%= visuels[i].commentaireVisuel %></li>
                <% } %>
            </ul>
</section>

<section class="visuelsCaroussel">
    <div class="caroussel__ArrowsAndTitle">
    <button class="visuelsCaroussel__buttons caroussel__arrow caroussel__arrow--left">
        <img class="caroussel__arrow__img" src="/img/allerGauche.png" alt="Précédent">
    </button>
    <h2 class ="visuelsCaroussel__title">Voir les autres projets</h2>
    <button class="visuelsCaroussel__buttons caroussel__arrow caroussel__arrow--right">
        <img class="caroussel__arrow__img" src="/img/allerDroite.png" alt="Suivant">
    </button>
</div>
    <div class="caroussel-fade caroussel-fade-left"></div>
    <div class="caroussel-fade caroussel-fade-right"></div>


    <div class="caroussel">
        <% visuelsCaroussel.forEach(function(visuel) { %>
            <div class="caroussel__item">
                <a href="/portfolio/<%= visuel.idRealisation %>">
                <img class="caroussel__item__img" src="/img/<%= visuel.visuelWidth767 || visuel.visuelWidth1920 %>" alt="<%= visuel.nomRealisation %>">
                </a>
            </div>
        <% }) %>
    </div>
</section>

<%- include('footer') -%>
